Address review from Mohamed Boucadair

# CDDL is normative

- [x] Please move to [RFC8610](https://datatracker.ietf.org/doc/rfc8610/) to be listed a normative. #65

# Normative language

Overall, the use of the normative language seems inconsistent, especially for the implementation behavior. Examples that triggered my comments are: 

   It is recommended
   that implementations return a single boolean result for Receipt
   verification operations, to reduce the chance of accepting a valid
   signature over an invalid inclusion proof.

Or

   It is recommended to select signature algorithms that share
   cryptographic components with the verifiable data structure used, 

- [x] And similar ones.

- [x] Also, some clarity about object construction/verification behaviors vs. those related to actual use would be helpful.

# Implementers or users?

CURRENT:
   Implementers should not expect interoperability across
   "verifiable data structures", but they should expect conceptually
   similar properties across the different registered proof types.  For
   example, 2 different merkle tree based verifiable data structures
   might both support proofs of inclusion.

- [x] The first sentence in particular smells more relevant for actual use rather than design phase/implementers? Maybe I’m missing the point this text tries to make.

Also, not sure what are the concrete implications of the interoperability mentioned here.

- [x] # Why this isn’t a MUST? #59

CURRENT (4.2):
   Security analysis SHOULD be
   conducted prior to migrating to new structures to ensure the new
   security and privacy assumptions are acceptable for the use case.

# Check

CURRENT (4.3):
   When the receipts header parameter is present, the associated
   verifiable data structure and verifiable data structure proofs MUST
   match entries present in the registries established in this
   specification.

- [x] I guess you don’t imply the check should be against the initial values established by this doc, but also future registered values are covered. I suggest to make that more clear and consider this change:

NEW:
   When the receipts header parameter is present, the associated
   verifiable data structure and verifiable data structure proofs MUST
   match entries present in the registries [IANA_URL].

- [x] BTW, which entity is required to do the analysis? 

- [x] Idem for which entity (user, implementer, verifier, etc.) is targeted by:

   A privacy analysis MUST be
   performed for all mandatory fields in profiles based on this
   specification.

And 

   A security analysis MUST be performed to ensure that the digital
   signature algorithm alg has the appropriate strength to secure
   receipts.

# Each specification?

CURRENT:
   Each specification MUST define how to encode the verifiable data
   ^^^^^^^^^^^^^^^^^^
   structure identifier and its proof types in CBOR.  Each specification
                                                      ^^^^^^^^^^^^^^^^^^
   MUST define how to produce and consume the supported proof types.
   See Section 5 as an example.

- [x] Not sure to understand what is referred to by “Each specification” here.

# Payloads

Section 5.2.1 says:

   Specifications are
   encouraged to make payloads detached when possible, forcing
                                       ^^^^^^^^^^^^^^
   validation-time comparison.  

and then

   The payload SHOULD be detached.  

- [x] What are the implications if this is not the case?

# IANA Registries & Hidden Required IANA  Actions

CURRENT:
   IANA established the COSE Verifiable Data Structures and COSE
   Verifiable Data Structure Proofs registries under a Specification
   Required policy as described in [[RFC8126](https://datatracker.ietf.org/doc/rfc8126/)].

- [x] I failed to find these. Can we please have pointers to where those are defined?

Also, Section 4.1 says: 

   This document establishes a registry of verifiable data structure
   algorithms, with the following initial contents:

Idem, Section 4.2 states: 
   This document establishes a registry of verifiable data structure
   algorithms, with the following initial contents:

- [x] which seems a hidden IANA actions. Not sure, why these contents are not part of the IANA section, though.

# Nits

- [x] ## Title: Please expand COSE in the title.

- [ ] ## Abstract should be self-contained

- [x] s/RFC 9162/“Certificate Transparency Version 2.0” ([RFC 9162](https://datatracker.ietf.org/doc/rfc9162/))

## Section 2

- [x] * s/ore more COSE Receipts/or more COSE Receipts

- [x] * s/a new Section 8.2.2/ a new registry (Section 8.2.2)

- [x] * s/a new Section 8.2.3/ a new registry (Section 8.2.3)

- [x] ## Section 4.1

OLD:
   +================+=======+===========================+===========+
   | Name           | Value | Description               | Reference |
   +================+=======+===========================+===========+
   | Reserved       | 0     | Reserved                  | Reserved  |

NEW:
   +================+=======+===========================+===========+
   | Name           | Value | Description               | Reference |
   +================+=======+===========================+===========+
   | Reserved       | 0     | Reserved                  |THIS_DOCUMENT |

## Section 4.2

Please fix the following

CURRENT:
- [x]  as EC2 keys (1: 2) keys  #58

## Section 4.3

- [x] * s/This document registered/ This document registers #56

* Which receipt/receipts are we referring to?

- [x] CURRENT:
   to enable this Receipts to be conveyed in the protected and
             ^^^^ ^      ^
   unprotected headers of COSE Objects.

Also, check the singular/plural use.

* 

OLD: The specific structure of COSE Receipts are dependent

- [x] NEW: The specific structure of COSE Receipts is dependent 

## Section 5.2

(1) CURRENT:

   Note that [[RFC9162](https://datatracker.ietf.org/doc/rfc9162/)] defines that verification MUST fail if leaf-index
   is >= tree-size, and inclusion proofs are defined only for leaf
   nodes.  

- [x] May format this as a quote to insist this is not a NEW behavior.

- [x] (2) s/verifiers applies/verifier applies

> ## Abstract should be self-contained

Not clear on what that means. The abstract definitely contains mentions of CBOR and COSE, but that seems... fine for a document that extends COSE? @OR13 @henkbirkholz enlightened comments welcome.

Closed by #94, which removes the only formal reference from the abstract. Mention of CBOR, COSE and CT v2 are important to the understanding of the abstract.